.zshrc
Brackets/
LightTable/
Mousepad/
Popcorn-Time/
Thunar/
Trolltech.conf
autostart/
chromium/
darktable/
dconf/
enchant/
font-manager/
fontconfig/
fontgroups.xml
globaltime/
gpick/
gtk-2.0/
gtk-3.0/
hotkeys/
htop/
menuicon.png
pulse/
ristretto/
synapse/
touchegg/
typecatcher/
user-dirs.dirs
user-dirs.locale
xarchiver/
xfburn/
xfce4-dict/
Atom/
